



.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
 
}

.swiperslide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 370px;
}

.swiperslide img {
  display: block;
  width: 100%;
}




.mySwiper .swiper-slide .reflect {
  opacity: 0.5;  /* Opacity for non-active slides */
  transform: scale(0.9); /* Scale down non-active slides */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Transition for smooth change of opacity and size */
}

.mySwiper .swiper-slide-active .reflect {
  opacity: 1; /* Opacity for active slide */
  transform: scale(1); /* Scale up active slide */
}